@use "../abstracts" as *;
@use "sass:color";

.accordion__heading{
  position: relative;
  font-weight: normal;
  color: $primary-black;
  margin-bottom: 0;
  justify-content: space-between;
  text-transform: uppercase;
}

.accordion__heading:after{
  content: none;
}

.accordion__heading i{
  transform: rotate(0deg);
  transition: all 0.3s ease-in-out;
  font-size: $standard-body-font-size;
  color: $primary-black;
}

.accordion__heading:not(.collapsed) i{
  transform: rotate(180deg);
}

.accordion__heading:not(.collapsed){
  color: inherit;
  background-color: transparent;
  box-shadow: none;
}

.accordion__link{
  font-size: $standard-body-font-size;
  color: scale-color($color: $primary-black, $alpha: -50%);
  text-decoration: none;
}