@use  "../abstracts" as *;

.breadcrumbs {
  --font-color: #{$primary-white};
  .breadcrumb-item + .breadcrumb-item::before {
    padding-top: 2px;
  }

  .breadcrumb-item,
  .breadcrumb-item a {
    font-size: 14px;
  }
}