@use  "../abstracts" as *;

.button-cta{
  --padding-x: 2.5rem;
  --padding-y: 1.25rem;
  height: 4rem;
  padding: var(--padding-y) var(--padding-x);
  font-size: $standard-body-font-size;
  letter-spacing: $standard-letter-spacing;
  line-height: $standard-body-line-height;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  color: $primary-white;
  fill:  $primary-white;
  background-color: $primary-tile;
  text-transform: uppercase;
  border: none;
}

.button-cta:not(:only-of-type){
  width: 100%;
  justify-content: center;
}

.button-cta--small{
  --padding-x: 1.5rem;
  --padding-y: 0.25rem;
    height: 2rem;
}

.button-cta--mid{
  --padding-x: 2rem;
  --padding-y: 0.75rem;
    height: 3rem;
}

.button-cta svg{
  height: 1.5rem;
}

.button-cta--mid svg{
  height: 1rem;
}

.button-cta--small svg{
  height: 0.75rem;
}
.button-cta:hover,
.button-cta:focus-visible{
  background-color: $primary-tile-dark;
  color: $primary-white;
  fill:  $primary-white;
}

.button-cta--dark{
  background-color: $primary-black;
}

.button-cta--dark:hover,
.button-cta--dark:focus-visible{
  background-color: $primary-black-dark;
}

.button-cta--light{
  color: $primary-black;
  fill:  $primary-black;
  background-color: $primary-white;
}

.button-cta--light:hover,
.button-cta--light:focus-visible{
  color: $primary-white;
  fill:  $primary-white;
  background-color: $primary-tile-dark;
}

.button-cta--transparent{
  color: $primary-tile;
  fill: $primary-tile;
  background-color: transparent;
  text-decoration: underline;
  text-transform: none;
  padding-left: 0;
  padding-right: 0;
  column-gap: 0.5rem;
}

.button-cta--transparent-dark{
  color: $primary-black;
  fill: $primary-black;
  background-color: transparent;
  text-decoration: underline;
}

.button-cta--transparent svg,
.button-cta--transparent-dark svg{
  height: 1.5rem;
}

.button-cta--icon-left svg {
  transform: rotate(180deg);
}

.button-cta--transparent:hover,
.button-cta--transparent:focus{
  color: $primary-tile-dark;
  fill: $primary-tile-dark;
  background-color: transparent;
}
@media screen and (min-width: 769px){
  .button-cta{
    width: auto;
  }
}