@use "../abstracts" as *;

//Carousel arrow buttons -default
.carousel-controls{
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  transform: translateY(-50%);
  @include carousel-controls-styles($primary-white, $primary-tile);
}

.carousel-controls svg{
  height: 1.5rem;
}

.carousel-controls--prev svg{
  transform: rotate(180deg);
}

.carousel-controls:hover,
.carousel-controls:focus{
  background-color: $primary-tile-dark;
}

.carousel-controls:disabled{
  @include disable;
}

//Navigation buttons/pagination - not arrow controls
.tns-nav{
  display: flex;
  padding: 2.25rem 0;
  justify-content: center;
  align-items: center;
  column-gap: 1rem;
}

.inner-nav{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.tns-nav > button{
  height: 0.625rem;
  width: 0.625rem;
  border-radius: 50%;
  border: 1px solid $primary-tile;
  color: $primary-tile;
  position: relative;
  background-color: $primary-white;
  padding: 0;
}

.tns-nav > button.tns-nav-active{
  height: 1.125rem;
  width: 1.125rem;
  border: 2px solid $primary-tile;
  background-color: transparent;
}

.tns-nav > button.tns-nav-active:before{
  content: " ";
  position: absolute;
  height: 0.625rem;
  width: 0.625rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $primary-tile;
  border-radius: 50%;
}

.tns-item[tabindex="-1"]{
  visibility: hidden;
}

//Animation for carousel items when on desktop
@media screen and (min-width: 769px){
  .tns-item{
    transition: opacity 0.5s ease-in-out;
  }

  .tns-item:not(.tns-slide-active){
    opacity: 0;
  }
}