@use "../abstracts" as *;

.custom-checkbox {
  display: flex;
  text-align: left;
}

.custom-checkbox__input {
  padding: 0;
  height: initial;
  width: initial;
  margin-bottom: 0;
  display: none;
  cursor: pointer;
}

.custom-checkbox__label {
  position: relative;
  cursor: pointer;
  font-size: $standard-body-font-size;
  font-weight: 400;
  line-height: $standard-body-line-height;
  display: flex;
  align-items: center;
  column-gap: 1rem;
  flex: 1;
}

.custom-checkbox__box {
  border: 1px solid $primary-tile;
  height: 1rem;
  width: 1rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: $primary-white;
  flex-shrink: 0;
}

.custom-checkbox__check{
  font-size: 0.5rem;
  color: $primary-tile;
}

.custom-checkbox__input + .custom-checkbox__label .custom-checkbox__check {
  display: none;
}

.custom-checkbox__input:checked + .custom-checkbox__label .custom-checkbox__check{
  display: inline-block;
}

.custom-checkbox__input:checked + .custom-checkbox__label .custom-checkbox__box {
  background-color: $primary-white;
}

.custom-checkbox__input:checked + .custom-checkbox__label .custom-checkbox__check {
  display: initial;
}
