@use "../abstracts" as *;
.copy-image-gallery{
  padding-left: 0;
  padding-right: 0;
  display: flex;
  flex-flow: column;
  position: relative;
}

.copy-image-box {
  @include content-box;
  padding: 0;
}

.copy-image-box__column {
  display: inline-block;
}

.copy-image-box__sample-box {
  width: 100%;
  height: 100%;
  display: block;
}

.copy-image-box__column--copy {
  padding-left:  1.5rem;
  padding-right:  1.5rem;
  padding-top: $mobile-section-gap;
  padding-bottom: $mobile-section-gap;
}

.copy-image-box__image{
  width: 100%;
}

.copy-image-box__main-heading{
  @include section-item-heading;
  text-transform: uppercase;
}

.copy-image-box__main-heading--highlighted{
  @include highlighted;
}

.copy-image-box__subheading {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1;
  letter-spacing: $standard-letter-spacing;
}

.copy-image-box__column--copy .copy-image-box__text {
  margin-bottom: 2.5rem;
}

.copy-image-box__name{
  margin-bottom: 1rem;
}

@media screen and (min-width: 769px) {
  .copy-image-gallery{
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    row-gap: 0;
  }

  .copy-image-box{
    padding: 0;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 2rem;
  }

  .copy-image-gallery >*:not(:last-child) {
     margin-bottom: 7.5rem;
   }

  .copy-image-box--text-left .copy-image-box__column--image {
    order: 1;
  }

  .copy-image-box--text-right .copy-image-box__column--copy{
    order: 1;
  }

  .copy-image-box__column {
    text-align: left;
  }

  .copy-image-box__column--copy {
    padding: 0;
  }

  .copy-image-box__image{
    width: auto;
  }

  .copy-image-box__subheading {
    font-size: 3rem;
    margin-bottom: 2.5rem;
  }

  .copy-image-box__column--image {
    flex: 0 0 59%;
  }

  .copy-image-box--text-left .copy-image-box__column--image{
    text-align: right;
  }

  .copy-image-box__column--copy .copy-image-box__main-heading + .copy-image-box__text:not(:last-child) {
    margin-bottom: 4rem;
  }
}