@use "../abstracts" as *;

.cta-banner {
  --font-color: #{$primary-white};
  color: var(--font-color);
  text-align: center;
}

.cta-banner--red {
  background-color: $secondary-red;
}

.cta-banner--orange {
  background-color: $secondary-orange;
}

.cta-banner--green {
  background-color: $secondary-green;
}

.cta-banner--aqua {
  background-color: $primary-tile;
}

.cta-banner--white {
  --font-color: #{$primary-black};
  background-color: $primary-white;
}

.cta-banner--floating{
  max-width: 100%;
}

.cta-banner--floating .cta-banner__content {
  justify-content: center;
  column-gap: 4.375rem;
  padding-top: $mobile-section-gap;
  padding-bottom: $mobile-section-gap;
  text-align: center;
}

.cta-banner--floating .cta-banner__info{
  margin-bottom: 1rem;
}

.cta-banner--dismissable{
  position: relative;
  padding-right: 3rem;
  padding-left: 3rem;
}

.cta-banner--dismissable .cta-banner__dismiss {
  position: absolute;
  width: auto;
  top: 0;
  right: 0;
  font-size: 1.25rem;
}

.cta-banner__content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  row-gap: 1.5rem;
}


.cta-banner--thick .cta-banner__content {
  padding-top: 4.5rem;
  padding-bottom: 4.5rem;
}

.cta-banner__text {
  display: flex;
  flex-flow: row wrap;
  flex: 0 auto;
  align-items: center;
  text-align: center;
  justify-content: center;
  row-gap: 1rem;
}

.cta-banner__cta-wrapper {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 1rem;
}

.cta-banner__cta {
  flex: 0 0 auto;
}

.cta-banner__title {
  font-size: 1.5rem;
  line-height: 1;
  letter-spacing: $standard-letter-spacing;
}

.cta-banner__title--secondary-font {
  @include secondary-font;
}

.cta-banner--thick .cta-banner__title {
  font-size: 2rem;
}

.cta-banner__info {
  font-size: $standard-body-font-size;
}

@media screen and (min-width: 769px) {
  .cta-banner {
    text-align: left;
  }

  .cta-banner__content {
    justify-content: space-between;
    column-gap: 8%;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }

  .cta-banner--thick .cta-banner__content {
    padding-top: 3.5rem;
    padding-bottom: 3.5rem;
  }

  .cta-banner--thick .cta-banner__title {
    font-size: 2.5rem;
  }

  .cta-banner--thick .cta-banner__info {
    font-size: 1rem;
  }

  .cta-banner__text {
    text-align: left;
    justify-content: space-between;
    flex: 1;
  }

  .cta-banner__title {
    font-size: 2.5rem;
    line-height: 1;
  }

  .cta-banner__info {
    line-height: $standard-body-line-height;
    font-size: 1.125rem;
    flex: 0 fit-content;
  }

  .cta-banner__cta {
    flex: 0 0 content;
  }
}

@media screen and (min-width: 992px) {
  .cta-banner--floating{
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
  }

  .cta-banner--white{
    filter: drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0303)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0217)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0397));
  }

  .cta-banner__cta-wrapper {
    width: auto;
  }
}