@use "../abstracts" as *;

.filter-container {
  display: flex;
  flex-flow: column;
  gap: 1.5rem 2rem;
}

.filter-dropdown {
  display: inline-block;
  flex: 1 40%;
  --font-color: #{$primary-black};

  &__cta {
    background: $background-light-tile;
    @include dropdown-isolated-set-toggler($hover-state:true);
    padding: 1rem 1.5rem;
    font-size: $standard-body-font-size;
    text-transform: uppercase;
    height: 3rem;

    &:hover,
    &.show {
      --font-color: #{$primary-white};
      color: var(--font-color, $primary-black);;
      background: $primary-tile;
    }

    & i {
      transition: transform 0.3s ease-in-out;
      color: var(--font-color, $primary-black);
    }

    &.show i {
      transform: rotate(180deg);
    }

    &::after {
      display: none;
    }
  }

  &__content {
    @include dropdown-isolated-set-menu;
    @include set-menu-border;
    padding: 1.5rem;

    &.show {
      max-height: initial;
    }

    li {
      @include dropdown-isolated-set-item;
      text-align: center;
    }

    .button-cta {
      text-align: center;
    }
  }

  &__actions {
    border-top: 1px solid $primary-white;
    text-align: center;
    margin-top: 1rem;
    padding-top: 1.5rem;
    display: flex;
    flex-flow: column;
    row-gap: 1rem;
  }

  &__summary {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem 1.5rem;
    flex: 1 100%;
  }
}

.filter-dropdown-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
  justify-content: center;

  &__see-all {
    flex: 1 100%;
  }
}

.cta-clear {
  color: $primary-black;
  opacity: 0.4;
  text-decoration: underline;
  font-size: $standard-body-font-size;
}

.applied_filter {
  font-size: $standard-body-font-size;

  .close {
    width: 1.5rem;
    height: 1.5rem;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background: $background-light-tile;
    padding: 6px;
    cursor: pointer;

    &::before,
    &::after {
      content: '';
      position: absolute;
      height: 1rem;
      width: 1px;
      left: 11px;
      top: 4px;
      background: $primary-black;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }
}

@media screen and (min-width: 769px) {
  .filter-dropdown__summary {
    margin-top: 0;
  }
}

@media screen and (min-width: 993px) {
  .filter-serach__wrapper {
    max-width: toRem(768);
  }

  .filter-container {
    flex-flow: row wrap;
  }

  .filter-dropdown__summary {
    order: 1;
  }

  .filter-dropdown-wrapper {
    justify-content: flex-start;
    flex: 1;
  }

  .filter-dropdown {
    flex: 0 auto;
  }

  .filter-dropdown-wrapper__see-all {
    flex: 0 auto;
  }
}