@use "../abstracts" as *;

.find-store {

  @media screen and (max-width: $grid-breakpoints-md +1){
    &--no-mobile-gutter{
      --bs-gutter-x: 0;
      --bs-gutter-y: 0;
    }
  }

  &__results{
    margin-top: toRem(40);
    margin-bottom: toRem(40);

    @media screen and (min-width: $grid-breakpoints-md){
      margin-top: toRem(96);
      margin-bottom: toRem(120);
    }
  }

  &__section-heading{
    font-size: toRem(40);
    @media screen and (min-width: $grid-breakpoints-sm){
      font-size: toRem(56);
    }
  }

  &__heading{
    font-size: toRem(24);
    margin: 0;
    font-weight: bold;
    line-height: toRem(24);
    letter-spacing: $standard-letter-spacing;

    @media screen and (min-width: $grid-breakpoints-sm){
      &-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    &--with-link{
      margin-bottom: toRem(24);
      @media screen and (min-width: $grid-breakpoints-sm){
        margin-bottom: 0;
      }
    }
  }

  &__new-search-cta{
    text-decoration: underline;
    font-weight: bold;
    font-size: toRem(16);
    margin-right: toRem(32);
    text-transform: uppercase;
  }

  &__result-heading{
    margin-bottom: toRem(16);
  }

  &__new-search-heading{
    margin-bottom: toRem(32);
  }

  &__form{
    input{
      padding: toRem(20) toRem(8) ;
      font-size: 14px;
      @media screen and (min-width: $grid-breakpoints-sm){
        padding: toRem(20) toRem(40) ;
      }

      &::placeholder {
        color: $primary-black;
        opacity: 1; 
      }
    }

    &-search-icon{
      display: flex;
      padding-right: 0;
      @media screen and (min-width: $grid-breakpoints-sm){
        padding-right: toRem(12);
      }

      .btn{
        color: $primary-black;
      }
    }
  }
  
  &__result-entry{
      line-height: $standard-body-line-height;
      letter-spacing: $standard-letter-spacing;
    &-address{
      opacity: 0.4;
    }

    &-contact{
      opacity: 0.4;
      color: $primary-black;
      text-decoration: underline;
      margin-bottom: toRem(24);
      font-weight: bold;
      a{
        color: $primary-black;
        &:hover{
          color: $primary-black-dark;
        }
      }
    }

    &-select-store{
      font-size: toRem(14);
      text-decoration: underline;
      font-weight: bold;
    }
  }

  &__search-wrapper{
    padding: toRem(64) toRem(16);
    @media screen and (min-width: $grid-breakpoints-md){
      padding: toRem(32) 0 toRem(32) clamp(toRem(32), 4%, toRem(86));
    }

    hr{
      border-color: $primary-black;
      background-color: $primary-black;
      opacity: 1;
      margin: toRem(32) 0;
    }
  }

  &__load-more{
    color: $primary-black;
    &:hover{
      color: $primary-black-dark;
    }

    &-cta-icon{
      margin-right: toRem(24);        
    } 
  }
}