@use "../abstracts" as *;
@use "sass:color";

.footer__multi-store-item {
  display: flex;
  flex-flow: column;
}

.footer {
  position: relative;
  z-index: 0;
}

.footer__mobile-logo-wrapper {
  margin-top: $mobile-section-gap;
  justify-content: center;
}

.footer__find-store-wrapper {
  margin-top: 2.5rem;
  margin-bottom: 3rem;
}

.footer__heading {
  font-size: $standard-body-font-size;
  font-weight: bold;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.footer__link {
  color: scale-color($color: $primary-black, $alpha: -50%);
}


.footer__link:hover,
.footer__link:focus {
  color: $primary-tile;
  text-decoration: underline;
}


.footer__social-link {
  color: $primary-black-dark;
}

.footer__copyright-container {
  background-color: $background-light-tile;
  padding: 1.5rem;
}

.footer__copyright-info {
  font-size: $standard-body-font-size;
  margin-top: 1.5rem;
  color: scale-color($color: $primary-black, $alpha: -50%);
}

.footer__local-info {
  display: flex;
  flex-flow: column;
  text-align: center;
  row-gap: 2.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.footer__local-info--multi-store {
  display: block;
}

.footer__info-wrapper {
  display: flex;
  flex-flow: column;
}

.footer__info-heading {
  margin-bottom: 2rem;
}

.footer__multi-store-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.footer__links-wrapper{
  display: block;
  text-align: left;
}

.footer__brand-logo{
  @include set-box-shadow($position: "right");
}

@media screen and (min-width: 768px) {

  .footer__multi-store-grid {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
  }

  .footer__multi-store-item {
    gap: 2rem;
  }

  .footer__mobile-logo-wrapper {
    justify-content: flex-start;
  }

  .footer__copyright-container .footer__copyright-info {
    margin-top: 0;
  }

  .footer__find-store-wrapper {
    width: 50%;
  }

  .footer__local-info {
    text-align: start;
    flex-flow: row;
    column-gap: 6rem;
  }

  .footer__info-wrapper {
    gap: 2rem;
  }

  .footer__info-wrapper:last-of-type {
    flex-flow: row wrap;
    column-gap: 1.5rem;
    align-content: baseline;
  }

  .footer__info-heading {
    width: 100%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 992px) {
  footer {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }

  .footer__main-wrapper {
    display: flex;
  }

  .footer__main-wrapper {
    column-gap: 6rem;
  }

  .footer--local .footer__main-wrapper{
    column-gap: 1.5rem;
  }

  .footer__heading--find-store {
    text-align: left;
  }

  .footer__find-store-wrapper {
    padding: 0;
    margin-top: 0;
    width: 100%;
  }

  .footer__local-info {
    column-gap: 3em;
    padding: 0;
  }

  .footer__local-info--multi-store {
    padding: 2.5rem 0.75rem;
  }

  .footer__info-wrapper {
    flex: 0 50%;
  }


}

@media screen and (min-width: 1400px) {
  .footer {
    max-width: max(82.5rem, 85%)
  }

  .footer--multi .footer__main-wrapper{
    text-align: center;
  }

  .footer__multi-store-grid{
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__local-info--multi-store {
    width: 33%;
    display: inline-block;
  }

  .footer__links-wrapper {
    width: 66%;
    display: inline-block;
  }
}