@use "../abstracts" as *;
@use "sass:color";
@use "sass:meta";

.simple-header {
  @include section-item-heading;
  text-transform: uppercase;
  text-align: center;
}

.simple-header--mid{
  @include section-item-heading(3rem, 3rem, 3rem);
  text-transform: uppercase;
  text-align: center;
}

.simple-header--highlighted {
  @include highlighted;
}

.simple-header--secondary-font {
  @include secondary-font;
}



.simple-title {
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: $standard-letter-spacing;
  color: var(--font-color, $primary-black)
}

.simple-text {
  line-height: $standard-body-line-height;
  letter-spacing: $standard-letter-spacing;
  font-size: $standard-body-font-size;
  color: var(--font-color, $primary-black);
}

.simple-text--light {
  color: color.scale($color: $primary-black, $lightness: -50%);
}

.simple-text--highlighted,
.simple-link--highlighted {
  --font-color: #{$primary-tile};
}

.simple-link {
  color: var(--font-color, $primary-black);
  font-size: max(1em, #{$standard-body-font-size});
  fill: var(--font-color, $primary-black);
}

.simple-link--no-hover:hover,
.simple-link--no-hover:focus{
  color: inherit;
}

.simple-link:hover,
.simple-link:focus {
  text-decoration: underline;
}

@media screen and (min-width: 769px) {
  .simple-title {
    font-size: 2rem;
  }

  .simple-header--mid{
    margin-bottom: 0;
  }
}