@use "../abstracts" as *;
@use "sass:color";

.header {
  --font-color: #{$primary-black};
  --divider-border-color: #{$primary-tile};
  background-color: $background-light-tile;
  top: -#{$mobile-header-height};
  width: 100%;
  z-index: 3;
  transition: top 0.3s ease-in-out;
}

.header--has-store {
  top: -#{$mobile-header-height-store};
}

.header--has-store .header__navbar {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.header__outer-wrapper {
  position: relative;
  padding: 0 1rem;
}

.header__outer-wrapper--main-nav {
  height: 4rem;
}


.header__outer-wrapper--store {
  display: none;
}

.header__navbar-nav {
  margin: 0 0 0 0.5rem;
}

.header__close-nav {
  top: 1.5rem;
  right: 1.5rem;
}

.header__brand-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  max-height: 4rem;
}

.header__brand-logo--shadow{
  @include set-box-shadow($position: "right");
  top: -0.5rem;
}

.header__brand-logo img {
  max-height: 4rem;
}

.header__hamburger {
  padding: 0;
  order: -1;
}

.header__hamburger-toggle {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.5rem;
}

.header__hamburger:focus {
  box-shadow: none;
}

.header__actions-wrapper {
  display: flex;
  flex-flow: row;
  column-gap: 1rem;
  align-items: center;
}

.header__actions-wrapper--right {
  flex: 0 40%;
  column-gap: clamp(0.5rem, 5%, 1.5rem);
  justify-content: flex-end;
}

.header__actions-wrapper--right > * {
  flex-shrink: 1;
}

.header__actions-wrapper--mobile-menu {
  display: block;
  position: absolute;
  top: calc(100% + 1rem);
  left: 0;
  width: 100%;
  z-index: 3;
  background-color: $primary-white;
  text-align: center;
  padding: 4rem 0;
  filter: drop-shadow(0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0303)) drop-shadow(0px 22.3363px 17.869px rgba(0, 0, 0, 0.0217)) drop-shadow(0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0397));
}

.header__actions-wrapper--mobile-menu .accordion__heading {
  font-size: $standard-body-font-size;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}


.header__actions-wrapper--mobile-menu .accordion__link:hover,
.header__actions-wrapper--mobile-menu .accordion__link:focus {
  color: scale-color($color: $primary-black, $alpha: -50%);
  text-decoration: underline;;
}

.header__link {
  color: var(--font-color);
  line-height: $standard-body-line-height;
  padding: 0.75rem 1rem;
  text-transform: uppercase;
  letter-spacing: $standard-letter-spacing;
  font-size: $standard-body-font-size;
  transition: none;
  text-align: center;
  max-width: 9rem;
}

.header__link--underline {
  text-decoration: underline;
}

.header__link--caps-off {
  text-transform: none;
}

.header__link--icon {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.header__link--icon:hover,
.header__link--icon:focus {
  --font-color: #{$primary-tile};
}

.header__link:hover,
.header__link:focus {
  background-color: transparent;
  text-decoration: underline;
  color: var(--font-color);
}

.header__actions-wrapper--mobile-menu .header__link {
  max-width: initial;
}

.header__search-form .searchbox {
  box-sizing: border-box;
  height: 2.5rem;
}

.header__outer-wrapper--mobile-search {
  margin-top: 1rem;

}

.header__outer-wrapper--mobile-search .separator-list {
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.header__outer-wrapper--mobile-search .separator-list__separator {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__outer-wrapper--mobile-search .separator-list > *:not(.separator-list__dropdown) {
    flex: 0 100%;
    text-align: center;
  }
}


@media screen and (min-width: 768px) {
  .dropdown-menu.header__search-form-wrapper {
    margin-right: -1px;
    margin-top: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 0;
    left: initial;
    width: max-content;
    max-width: toRem(235);
  }

  .header__outer-wrapper--mobile-search .separator-list {
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__outer-wrapper--mobile-search .separator-list > * {
    flex: auto;
  }

  .header__outer-wrapper--mobile-search .separator-list__separator {
    display: inline;
  }

  .header__store-actions.separator-list .separator-list__toggle:not(.show):hover,
  .header__store-actions.separator-list .separator-list__toggle:not(.show):focus {
    cursor: pointer;
  }

  .header__store-actions.separator-list .separator-list__toggle:hover a,
  .header__store-actions.separator-list .separator-list__toggle:focus a {
    text-decoration: underline;
  }

  .header__store-actions.separator-list > *:not(.header__link):not(.dropdown) {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .header__store-actions.separator-list > *:first-child:not(.dropdown) {
    margin-left: 1rem;
  }
}

@media screen and (min-width: 992px) {
  .header {
    top: -#{$desktop-header-height};
    position: fixed;
  }

  .header--initial {
    top: 0;
  }

  .header--black {
    background-color: #{color.scale($color: $primary-black, $alpha: -60%)};
  }

  .header--gradient {
    background: linear-gradient($primary-black, transparent);
    --divider-border-color: #{color.scale($color: $primary-white, $lightness: -50%)};
  }

  .header--white {
    background-color: $primary-white;
  }

  .header--black,
  .header--gradient {
    --font-color: #{$primary-white};
  }

  .header__navbar {
    padding: 0;
  }

  .header__navbar-nav {
    margin: 0 auto;
    align-items: center;
  }

  .header__link--dropdown {
    margin: 0;
  }

  .header__link--icon {
    margin: 0;
  }

  .header__dropdown {
    text-transform: uppercase;
    font-size: $standard-body-font-size;
  }

  .header__dropdown-toggle {
    @include dropdown-isolated-set-toggler($hover-state: false);
  }

  .header__store-actions.separator-list .separator-list__toggle:not(.show):hover,
  .header__store-actions.separator-list .separator-list__toggle:not(.show):focus {
    --font-color: #{$primary-white};
  }

  .header__dropdown-toggle:hover,
  .header__dropdown-toggle:focus {
    text-decoration: underline;
  }

  .header__dropdown-menu {
    font-size: $standard-body-font-size;
    color: var(--font-color, $primary-black);
    @include dropdown-isolated-set-menu;
    @include set-menu-border;
  }

  .header__dropdown-item {
    @include dropdown-isolated-set-item;
  }

  .header__dropdown-item:hover,
  .header__dropdown-item:focus {
    --font-color: #{$primary-tile-dark};
    color: var(--font-color);
    background-color: inherit;
  }

  .header:not(.header--has-store) .header__outer-wrapper {
    height: 8rem;
  }

  .header__outer-wrapper {
    padding: 1rem 1.5vw;
  }

  .header--has-store .header__outer-wrapper {
    position: static;
    padding-top: 0;
    padding-bottom: 0;
  }

  .header__outer-wrapper--store {
    display: flex;
    width: 100%;
    border-bottom: 1px solid var(--divider-border-color);
  }

  .header__brand-logo,
  .header__brand-logo img {
    max-height: 6rem;
  }

  .header--has-store .header__outer-wrapper--main-nav {
    position: relative;
    height: 7rem;
  }

  .header--has-store .header__brand-logo {
    top: 0;
  }

  .header--has-store .header__brand-logo--centered{
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
  }

  .header__actions-wrapper {
    display: flex;
    align-items: center;
    flex-flow: row;
  }

  .dropdown-menu.header__search-form-wrapper {
    max-width: initial;
    width: clamp(10rem, 30vw, 25rem);
  }

  .header__search-form {
    margin-left: auto;
  }


}

@media screen and(min-width: 1201px) {
  .header__outer-wrapper {
    padding: 1rem min(4vw, 4.5rem);
  }

  .header--has-store .header__outer-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 1400px) {
  .header__outer-wrapper--store {
    border-bottom: none;
  }

  .header--has-store .header__outer-wrapper--main-nav {
    height: initial;
    position: static;
  }

  .header__link {
    max-width: initial;
  }
}