@use "../abstracts" as *;

.hero-carousel__card {
  height: 43.75rem;
  position: relative;
}

.hero-carousel__background{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-carousel__card--left-align .hero-carousel__background{
  object-position: 75%;
}

.hero-carousel__content-wrapper {
  @include carousel-card-flex-col;
  padding: 0 2rem;
  position: relative;

}

.hero-carousel__heading{
  font-size: 4rem;
  text-transform: uppercase;
  margin-bottom: 4.5rem;
  line-height: 1;
}

.hero-carousel__heading--highlighted{
  font-weight: bold;
}

.hero-carousel__text{
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
}

.hero-carousel__image--desktop{
  display: none;
}

@media screen and(min-width: 769px){
  .hero-carousel__card{
    height: 62.5rem;
  }

  .hero-carousel__card--left-align{
    background-position: 65%;
  }

  .hero-carousel__heading{
    font-size: clamp(4rem, 7.5vw, 7.5rem);
  }

  .hero-carousel__content-wrapper{
    //6% of width + width of buttons
    padding: 0 calc(6% + 4.5rem);
  }

  .hero-carousel__content-wrapper--left-align{
    max-width: 50rem;
    align-items: flex-start;
    text-align: left;
    margin: 0 18%;
    padding: 0;
  }

  .hero-carousel__card--left-align .hero-carousel__background{
    object-position: center;
  }

  .hero-carousel__image--mobile{
    display: none;
  }

  .hero-carousel__image--desktop{
    display: unset;
  }
}