@use "../abstracts" as *;
.carousel-controls--hero {
  @include carousel-controls-styles($primary-white, transparent, 1px solid $primary-white, 55%);
}

.carousel-controls--hero.carousel-controls--prev {
  @include carousel-control-margin("prev", 3%);
}

.carousel-controls--hero.carousel-controls--next {
  @include carousel-control-margin("next", 3%);
}

@media screen and (min-width: 769px){
  .hero-carousel .tns-item{
    transition: none;
  }

  .hero-carousel .tns-item:not(.tns-slide-active){
    opacity: 1;
  }
}