@use  "../abstracts" as *;

.hero-category {
  &__content-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .breadcrumbs {
    margin-bottom: 3.5rem;

    .breadcrumb-item,
    .breadcrumb-item a,
    .breadcrumb-item::before {
      color: $primary-white;
    }
  }

  &__content-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
  }

  &__title-wrapper {
    color: $primary-white;
    text-align: center;
  }

  &__heading {
    font-size: 4.5rem;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
    line-height: 1;
    letter-spacing: $standard-letter-spacing;

    &--highlighted {
      font-weight: 600;
    }
  }

  &__text {
    font-size: 1rem;
  }
}

.help-box {
  background: $background-light-tile;
  align-self: flex-end;
  width: 100%;

  &__title {
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    color: $primary-tile;
    text-transform: uppercase;
    border-bottom: 1px solid $primary-white;
    line-height: 1;
    display: none;
    font-weight: bold;
  }

  &__content {
    padding: 1.5rem 2rem;
    text-align: center;
  }

  &__text {
    margin-bottom: 1.5rem;

    a {
      color: $primary-black;
      text-decoration: underline;
      font-weight: bold;
    }
  }
}

@media screen and (min-width: 768px) {
  .hero-category {
    &__background {
      min-height: toRem(550);
      object-fit: cover;
    }

    &__title-wrapper{
      text-align: left;
    }


    &__content-wrapper {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .help-box {
    max-width: toRem(344);

    &__title {
      text-align: center;
      display: block;
    }
  }
}

@media screen and (min-width: 992px){
  .help-box__title{
    text-align: left;
    padding: 3rem 2.5rem 2rem;
  }

  .help-box__content{
    text-align: left;
    padding: 2.5rem 2.5rem 3rem;
  }
}