@use "../abstracts" as *;

.internal-link{
    text-align: center;
    height: 100%;
    @media screen and (min-width: $grid-breakpoints-md){
        background: $background-light-tile;
    }
    
    &__heading{
        font-size: clamp(toRem(32), 4%, toRem(42));
        font-weight: 300;
        text-transform: uppercase;
        margin-bottom: toRem(40);
        @media screen and (min-width: $grid-breakpoints-md){
            font-size: toRem(32);
        }

        &-highlighted{
            font-weight: bold;
            color:$primary-tile;
        }
    }
    
    &__links{
        margin: 0;
    }

    &__content{
        padding-bottom: toRem(64);
        @media screen and (min-width: $grid-breakpoints-md){
            padding-bottom: toRem(72);
        }
    }

    &__content-text{
        padding: toRem(64) toRem(16) 0;
        @media screen and (min-width: $grid-breakpoints-md){
            padding: toRem(72) clamp(toRem(24), 11%, toRem(72)) 0;
        }
    }

    &__cta{
        margin-top: toRem(24);
        text-align: center;
        @media screen and (min-width: $grid-breakpoints-md){
            margin-top: toRem(40);
        }
    }
}