@use "../abstracts" as *;

.internal-links {
 text-align: center;
 @media screen and (max-width: $grid-breakpoints-md +1){
    &--no-mobile-gutter{
      --bs-gutter-x: 0;
      --bs-gutter-y: 0;
    }
  }
}
