@use  "../abstracts" as *;
.pager{
  display: flex;
  justify-content: center;
  margin-top: clamp(2.5rem, 6vw, 6rem)
}

.pagination{
  column-gap: 1rem;
}

.page-link {
  border: none;
  background-color: $background-light-tile;
  font-size: 16px;
  color: $primary-black;
  padding: 13px 19px;
  border-radius: unset;

  &:hover {
    color: $primary-black;
  }
}

.page-item {

  &--active .page-link {
    background-color: $primary-tile;
    color: $primary-white;
    padding: 13px 21px;

    &:hover {
      background-color: $primary-tile-dark;
    }
  }

  &--dir {
    text-transform: uppercase;

    .page-link {
      background-color: transparent;
      opacity: 0.4;
      border-radius: 0;
    }
  }
}

.page-item:nth-of-type(5),
.page-item:nth-of-type(6){
  display: none;
}

@media screen and (min-width: 769px) {
  .page-item:nth-of-type(5){
    display: initial;
  }
}

@media screen and (min-width: 993px) {
  .page-item:nth-of-type(6){
    display: initial;
  }
}