@use "../abstracts" as *;
.product-grid{
  display: grid;
  grid-template-columns: 1fr;
  gap: 2.5rem;
  --bs-gutter-x: -0.75rem;
  grid-auto-flow: dense;
}

.separator-list--products{
  justify-content: space-between;
  margin-bottom: 2.5rem;
  align-items: center;
}

.separator-list--products .separator-list__toggle:hover,
.separator-list--products .separator-list__toggle:focus{
  --font-color: #{$primary-tile};
}

.separator-list--products .separator-list__separator{
  font-size: 3rem;
  display: none;
}

@media screen and (min-width: 769px){
  .product-grid{
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem 0.875rem;
  }
}

@media screen and (min-width: 993px) {

  .separator-list--products{
    margin-bottom: 3rem;
    justify-content: flex-start;
  }

  .separator-list--products .separator-list__separator{
    display: inline;
  }

  .product-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem 1rem;
  }
}