@use "../abstracts" as *;

.product-carousel__card {
  position: relative;
  width: 100%;
}

.product-carousel__image {
  position: relative;
  width: 100%;
}

.product-carousel__image--desktop{
  display: none;
}

.product-carousel__image--hover-only{
  display: none;
}


.product-carousel__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 22% 14%;
  @include carousel-card-flex-col;
}

.product-carousel__heading {
  @include section-item-heading;
}

.product-carousel__heading--secondary-font {
  @include secondary-font;
}

.product-carousel__description {
  font-size: $standard-body-font-size;
  line-height: $standard-body-line-height;
  letter-spacing: $standard-letter-spacing;
  font-weight: lighter;
  margin-bottom: 2.5rem;
}

@media screen and(min-width: 769px){
  .product-carousel__image--mobile{
    display: none;
  }

  .product-carousel__card--hover-state:hover .product-carousel__image{
    display: none;
  }

  .product-carousel__image--desktop{
    display: unset;
  }

  .product-carousel__card--hover-state:hover .product-carousel__image--hover-only{
    display: unset;
  }

  .product-carousel__card--hover-state .product-carousel__overlay:hover {
    background: linear-gradient(0deg, rgba(0, 140, 153, 0.6), rgba(0, 140, 153, 0.6))
  }

  .product-carousel__overlay{
    padding: clamp(2.5rem, 21.05%, 7.5rem) clamp(2.5rem, 16.67%, 7.5rem)
  }

  .product-carousel__heading{
    margin-bottom: 1rem;
    //Overrides styling from mixin
    font-size: clamp(3rem, 10%, 3.5rem)
  }

  .product-carousel__description{
    flex: 1;
  }
}