@use "../abstracts" as *;

.product-details {
  &__media > img {
    width: 100%;
  }

  &__colors {
    width: 100%;
    border: none;
    height: 1px;

    .offcanvas-body {
      overflow-y: visible;
    }

    &.show {
      height: auto;
    }
  }

  &__actions {
    padding: 0 32px;
    transform: translateY(-170px);

    a {
      color: $primary-white;
      display: block;
    }
  }

  &__card {
    .add-to-cart {
      margin-bottom: 48px;
    }
  }

  &__info {
    top: 0;
    padding: 5% 0;
  }
}

.color-sampler-wrapper {
  &::-webkit-scrollbar-thumb,
  &::-webkit-scrollbar-track,
  &::-webkit-scrollbar-thumb:hover {
    background: $primary-white;
  }

  .carousel-indicators {
    max-width: 50%;
    left: 0;
    margin: 0;
    bottom: -2.5em;

    button {
      background-color: $background-light-tile;
      width: 100%;
      margin: 0;

      &.active {
        background-color: $primary-tile;
      }
    }
  }
}

.color-sampler {
  min-width: 100%;
  width: 100%;
  opacity: 0;
  justify-content: space-between;

  &.active {
    opacity: 1;
  }

  &__color {
    text-align: center;
    font-size: 14px;
    color: $primary-black;
    border: 1px solid $background-light-tile;
    padding: 16px;
    margin-bottom: 16px;

    img {
      margin-bottom: 24px;
    }
  }

  &__arrow {
    background: $primary-tile;
    width: 48px;
    height: 48px;
    line-height: 48px;
    text-align: center;
    margin-left: 16px;
    cursor: pointer;

    svg {
      fill: $primary-white;
      width: 21px;
    }

    &.disabled {
      background: $background-light-tile;

      svg {
        fill: $primary-black;
      }
    }
  }

  &__arrow--prev svg {
    transform: rotate(180deg);
  }

  &__close {
    color: $primary-black;
    text-decoration: underline;

    svg {
      width: 14px;
      transform: rotate(180deg);
    }
  }

  &__actions {
    margin-top: 46px;
  }
}

.product-detail-card {
  &__heading {
    font-size: 32px;
    margin: 24px 0 24px;
    line-height: 1;
  }

  &__price {
    margin-bottom: 46px;

    .price-box {
      color: $secondary-red;
      font-size: 32px;
      line-height: 1;

      span {
        color: #222222;
        opacity: .4;
        font-size: 16px;
      }
    }

    .discount-price {
      font-size: 16px;
      color: $primary-black;
      margin-bottom: 10px;
    }
  }

  &__awards {
    margin: 48px 0;
  }
}

@media screen and (max-width: 991px) {
  .product-details__colors {
    overflow: auto;
  }

  .color-sampler__pagination {
    transform: translateY(-37px);
  }

  .add-to-cart .button-cta:not(:last-of-type),
  .price-box {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 992px) {
  .color-sampler {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 24px 32px;

    &__color {
      margin: 0;
      padding: 24px;
    }
  }

  .color-sampler-wrapper {
    .carousel-indicators {
      max-width: 33%;
      right: 134px;
      bottom: -5em;
      margin: 0 0 0 auto;
    }
  }

  .product-details {
     &__actions {
       .show-colors {
         float: right;
       }
     }

    &__colors {
      position: absolute;
      height: 100%;
    }

    &__card {
      max-width: 544px;
      margin: 0 auto;
    }
  }

  .add-to-cart .button-cta {
    width: auto;
  }

  .product-detail-card {
    &__heading {
      font-size: 56px;
      margin: 63px 0 24px;
    }
  }
}

@media screen and (min-width: 1280px) {
  .color-sampler {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .color-sampler-wrapper .carousel-indicators {
    max-width: 240px;
  }
}