@use "../abstracts" as *;

.product-carousel-wrapper {
  padding-left: 0;
  padding-right: 0;
}

.carousel-controls--product.carousel-controls--prev{
  @include carousel-control-margin("prev", 2.25rem);
}

.carousel-controls--product.carousel-controls--next{
  @include carousel-control-margin("next", 2.25rem);
}

@media screen and (min-width: 769px){
  .product-carousel-wrapper{
    padding-right: 4.5rem;
    padding-left: 4.5rem;
  }
}