@use "../abstracts" as *;

.product-labels {
  background: $primary-tile;
  padding: 8px;
  display: inline-block;
  box-sizing: border-box;
  color: $primary-white;
  font-size: 12px;
  text-transform: uppercase;
}