@use "../abstracts" as *;

.product-grid__card {
  display: flex;
  flex-flow: column;
  justify-content: center;
}

.product-grid__badge-container {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  display: flex;
  column-gap: 0.5rem;
}

.product-grid__badge {
  background-color: $primary-white;
  color: $primary-black;
  padding: 0.5rem;
  line-height: 1;
  text-transform: uppercase;
  font-weight: bold;
  font-size: toRem(12);
  letter-spacing: $standard-letter-spacing;
}

.product-grid__badge--featured {
  background-color: $primary-tile;
  color: $primary-white;
}

.product-grid__card--login {
  background-color: $background-light-tile;
  padding: 1rem;
  grid-row: span 1;
}

.product-grid__card--login .simple-text {
  margin-bottom: 2.5rem;
}

@media screen and (min-width: 769px) {
  .product-grid__card--featured {
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
  }

  .product-grid__card--login {
    grid-column: 1 / span 2;
  }

  .product-grid__badge-container {
    left: 2rem;
    bottom: 2rem;
  }
}

@media screen and (min-width: 993px) {
  .product-grid__card--login {
    grid-column: 3 /4;
  }

  .product-grid__badge-container{
    column-gap: 1rem;
  }
}