@use "../abstracts" as *;

.reviews-wrapper {
  background-color: $background-light-tile;
  text-align: center;
  padding-bottom: $mobile-section-gap;
  padding-top: $mobile-section-gap;
}

.review-carousel__inner-wrapper {
  padding: 1rem;
}

.carousel-controls--review {
  @include carousel-controls-styles($primary-black, $primary-white, 1px solid $primary-black, 61.5%);
}

.carousel-controls--review:hover,
.carousel-controls--review:focus{
  background-color: $primary-tile;
  color: $primary-white;
  fill: $primary-white;
  border-color: $primary-tile;
}

.carousel-controls--review.carousel-controls--prev {
  @include carousel-control-margin("prev", 3%);
}

.carousel-controls--review.carousel-controls--next {
  @include carousel-control-margin("next", 3%);
}

@media screen and (min-width: 769px) {
  .reviews-wrapper{
    padding-top: $desktop-section-gap;
    padding-bottom: $desktop-section-gap;
  }

  .review-carousel__inner-wrapper {
    padding: 0 8%;
    margin-bottom: 6rem;
  }
}