@use "../abstracts" as *;
.review-carousel__card{
  background-color: $primary-white;
  padding: 2.5rem 1.5rem;
  text-align: left;
}

.review-carousel__reviewer{
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 2rem;
  position: relative;
  padding-right: 3rem;
  display: block;
}

.review-carousel__reviewer svg{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(-50%, -50%);
  color: $primary-tile;
}

.review-carousel__text{
  font-size: $standard-body-font-size;
  margin-bottom: 2rem;
}
