@use "../abstracts" as *;

.review-icon {
  color: #F3901D;
}

.review-icon:not(:last-of-type){
  margin-right: 0.5rem;
}

.review-icon:last-of-type:not(:last-child){
  margin-right: 1rem;
}

.review-score {
  font-size: 0.75rem;
  color: #AAA9AC;
  letter-spacing: $standard-letter-spacing;
  text-transform: uppercase;
}

.review-score__heading {
  font-size: 1.25rem;
}
.review-score__heading-xl {
  font-size: 3rem;
  color: $primary-tile;
  font-weight: bold;
}

.review-score--secondary-color{
  color: $primary-tile;
}

.reviews-wrapper__caption{
  font-size: $standard-body-font-size;
  letter-spacing: $standard-letter-spacing;
}

.reviews-wrapper__caption:first-of-type{
  margin-bottom: 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

@media screen and (min-width: 769px){
  .review-score__heading {
    font-size: 2rem;
  }
  .review-score__heading-xl {
    font-size: 5rem;
  }

  .reviews-wrapper__caption{
    font-size: 1.5rem;
  }

  .reviews-wrapper__caption:first-of-type{
    margin-bottom: 4.5rem;
  }

  .review-icon--lg{
    font-size: 1.5rem;
  }

  .review-icon--lg:not(:last-child){
    margin-right: 0.75rem;
  }
}