@use "../abstracts" as *;
@use "sass:color";

.searchbox{
  --inactive-background: #{$background-light-tile};
  padding: 0.75rem 1rem;
  color: $primary-black-dark;
  border-top: 1px solid;
  border-left: 1px solid;
  border-bottom: 1px solid;
  border-radius: 0;
  border-right: none;
  border-color: $primary-black;
  transition: all 0s;
  overflow: hidden;
  text-overflow: ellipsis;
}

.searchbox--white,
.searchbox--white + .searchbox-icon{
  --inactive-background: #{$primary-white};
}

.searchbox-icon{
  --inactive-background: #{$background-light-tile};
  border-top: 1px solid;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-left: none;
  border-color: $primary-black;
  transition: all 0s;
  font-size: $standard-body-font-size;
  border-radius: 0;
}

.searchbox:placeholder-shown,
.searchbox:placeholder-shown + .searchbox-icon {
  border-color: color.scale($color: $primary-black, $lightness: 70%);
  background-color: var(--inactive-background);
  color: $background-disabled-gray;
}

.searchbox:not(:placeholder-shown) + .searchbox-icon:hover,
.searchbox:not(:placeholder-shown) + .searchbox-icon:focus{
  color: $primary-tile;
}

.searchbox:focus{
  background-color: $primary-white;
  box-shadow: none;
  border-color: $primary-tile;
}

.searchbox:focus + .searchbox-icon,
.searchbox:not(:placeholder-shown)
.searchbox-icon:focus{
  background-color: $primary-white;
  color: $primary-black-dark;
  border-color: $primary-tile;
}

.searchbox::placeholder{
  font-size: 0.75rem;
  color: $background-disabled-gray;  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}