@use "../abstracts" as *;

.section-header {
  --padding-bottom: #{$mobile-section-gap};
  @include content-box;
  padding-bottom: var(--padding-bottom);
  row-gap: 0;
}

.section-header--no-padding{
  --padding-bottom: 0;
}

.section-header__name {
  font-size: $standard-body-font-size;
  margin-bottom: 1rem;
}

.section-header__text {
  font-size: $standard-body-font-size;
}

.section-header__heading {
  @include section-item-heading;
  text-transform: uppercase;
}

.section-header__heading:only-child{
  margin: 0;
}

.section-header__heading--highlighted {
  @include highlighted;
}

.section-header__heading--secondary-font {
  @include secondary-font;
}

.section-header__subheading {
  font-size: 1.5rem;
}

.section-header__subheading:not(:last-child){
  margin-bottom: 2.5rem;
}

.section-header__subheading--highlighted {
  @include highlighted;
}

.section-header__subheading--secondary-font {
  @include secondary-font;
}

@media screen and (min-width: 769px) {
  .section-header:not(.section-header--no-padding) {
    --padding-bottom: 6rem;
  }

  .section-header.section-header--less

  .section-header__heading:only-child{
    margin: 0;
  }

  .section-header__text {
    font-size: 1.25rem;
  }

  .section-header__subheading {
    font-size: 3rem;
  }
  .section-header__subheading:not(:last-child) {
    margin-bottom: 3rem;
  }
}