@use "../abstracts" as *;

.seo-copy-section{
  padding-bottom: 0;
}

.seo-outer-wrapper {
  padding: 0;
}

.seo-img {
  position: relative;
}

.seo-container--two-cols {
  position: relative;
}

.seo-container__col {
  padding: 2.5rem 1rem;
}

.seo-container__col--background {
  background-color: $background-light-tile;
}

@media screen and (min-width: 993px) {
  .seo-copy-section {
    background: linear-gradient(to bottom, $primary-white 0% 50%, $background-light-tile 50% 100%);
    padding-bottom: $desktop-section-gap;
  }

  .seo-copy-section .section-header__heading{
    text-align: left;
    margin-left: 7.5rem;
  }

  .seo-outer-wrapper {
    padding: 0 0.75rem;
  }

  .seo-img {
    margin-bottom: -6%;
  }

  .seo-container--two-cols {
    display: flex;
    flex-flow: row wrap;
    column-gap: 10%;
    padding: clamp(3rem, 8%, 6rem);
    width: 83%;
    background-color: $primary-white;
    margin: auto;
  }

  .seo-container__col {
    padding: 0;
    flex: 0 45%;
  }

  .seo-container__col--background {
    background-color: initial;
  }
}