@use "../abstracts" as *;
@use "sass:color";

.separator-list{
  list-style: none;
  display: flex;
  flex-flow: row;
  align-items: center;
  letter-spacing: $standard-letter-spacing;
  color: var(--font-color, $primary-black);
  font-size: $standard-body-font-size;
}

.separator-list > *:not(.separator-list__separator):not(.separator-list__dropdown-menu){
  padding-right: 0;
  padding-left: 0;
}

.separator-list__separator{
  font-size: 1.5rem;
  line-height: 1;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

.separator-list__toggle{
  @include dropdown-isolated-set-toggler($hover-state: false);
}

.separator-list__dropdown-menu {
  @include dropdown-isolated-set-menu;
}

.separator-list__dropdown-menu:not(.show){
  display: none;
}


.separator-list__dropdown-item{
  @include dropdown-isolated-set-item;
}

.separator-list__dropdown-item:hover,
.separator-list__dropdown-item:focus{
  --font-color: #{$primary-tile-dark};
  color: var(--font-color);
  background-color: inherit;
}