@use "../abstracts" as *;

.visualizer-hero {
  position: relative;
  overflow: hidden;

  &__hero-image-container{
    position: relative;
    text-align: center;
    @media screen and (min-width: $grid-breakpoints-md){
      text-align: right;
      position: absolute;
      width: 100%;
      top:0;
      z-index: 0;
      height: 100%;
    }
  }

  &__hero-image-wrapper{
    text-align: right;
    flex-direction: column;
    height: 100%;
    justify-content: center;
  }

  &__text-container{
    position: relative;
    z-index: 1;
    text-align: center;
    @media screen and (min-width: $grid-breakpoints-md){
      text-align: left; 
    }
  }

  &__breadcrumbs{
    margin: toRem(24) 0 toRem(40);
    @media screen and (min-width: $grid-breakpoints-md){
      margin: toRem(90) 0 toRem(100);
    }
  }

  &__heading{
    margin-bottom: toRem(40);
    @media screen and (min-width: $grid-breakpoints-md){
      margin-bottom: toRem(72);
    }
  }

  &__cta{
    margin-bottom: toRem(72);
    &--mobile{
      position: absolute;
      width: 100%;
      bottom: toRem(50);
    }
  }
}
