@use "../abstracts" as *;

.visualizer-cards {
  text-align: center;

  @media screen and (max-width: $grid-breakpoints-md +1){
    &--no-mobile-gutter{
      --bs-gutter-x: 0;
      --bs-gutter-y: 0;
    }
  }

  &__heading{
    font-size: toRem(56);
  }

  &__wrapper{
    padding-top: toRem(15);
    @media screen and (min-width: $grid-breakpoints-md){
      padding-top: toRem(70);
    }
  }

  &__cta{
    margin-top: toRem(96);
  }
}