@use "../abstracts" as *;

.visualizer-card {
  text-align: center;
  background: $background-light-tile;
  padding: toRem(96) 0;
  position: relative;
  margin-top: toRem(76);
  @media screen and (min-width: $grid-breakpoints-lg){
    margin-top: toRem(32);
    height: 100%;
  }

  &__icon-wrapper{
    top: toRem(-36);
    left: 0;
    position: absolute;
    width: 100%;
  }

  &__icon{
    width: toRem(72);
    height: toRem(72);
    background: $primary-tile;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__heading{
    text-transform: uppercase;
    font-size: toRem(32);
    font-weight: 300;
    margin-bottom: toRem(56);
  }

  &__sub-heading{
    font-size: toRem(24);
    color: $primary-tile;
    margin-bottom: toRem(24);
  }
}