@use "../abstracts" as *;
@use "sass:math";

body {
  color: $primary-black;
}

.mobile-background--tile{
  background-color: $background-light-tile;
}

.mobile-background--white{
  background-color: $primary-white;
}

body *::selection {
  background: $primary-tile;
  color: $primary-white;
}

small {
  font-size: 0.75em;
}

section{
  padding-top: calc(#{$mobile-section-gap} / 2);
  padding-bottom: calc(#{$mobile-section-gap} / 2);
}

section:first-of-type{
  padding-top: 0;
}

section:not(.force-padding):last-of-type{
  padding-bottom: 0;
}

a {
  color: $primary-tile;
}

a:hover,
a:focus {
  color: $primary-tile-dark;
}


body *::-webkit-scrollbar {
  width: 0.25rem;
}

body *::-webkit-scrollbar-track {
  background-color: $background-light-tile;
  border-radius: 2px;
}

body *::-webkit-scrollbar-thumb {
  background-color: $primary-tile;
  border-radius: 2px;
}

body *::-webkit-scrollbar-thumb:hover {
  background-color: $primary-tile-dark;
}

.text-shadow-tile{
  @include set-text-shadow();
}

img.darken{
  filter: brightness(0.5);
}

@media screen and (max-width: 768px) {
  section.no-padding--mobile {
    padding-bottom: 0;
    padding-top: 0;
  }
}

@media screen and (min-width: 769px) {
  section {
    padding-top: calc(#{$desktop-section-gap} / 2);
    padding-bottom: calc(#{$desktop-section-gap} / 2);
  }

  .desktop-no-wrap {
    white-space: nowrap;
  }

  .mobile-background--tile{
    background-color: inherit;
  }

  .desktop-background--tile{
    background-color: $background-light-tile;
  }

  .mobile-background--white{
    background-color: inherit;
  }

  .desktop-background--white{
    background-color: $primary-white;
  }
}

@media screen and (min-width: 992px){
  body{
    padding-top: 0;
  }

  body.no-hero{
    padding-top: $desktop-header-height;
  }
}
