@use "../abstracts" as *;

@font-face {
  font-family: "Gotham";
  src: font("gotham-book.otf");
}

@font-face {
  font-family: "Gotham";
  src: font("gotham-bold.otf");
  font-weight: bold;
}

@font-face {
  font-family: "Gotham";
  src: font("gotham-italic.otf");
  font-style: italic;
}

@font-face {
  font-family: "Gotham";
  src: font("gotham-light.otf");
  font-weight: 300;
}

@font-face {
  font-family: "Playfair Display";
  src: font("PlayfairDisplay-Regular.ttf");
}
@font-face {
  font-family: "Playfair Display";
  src: font("PlayfairDisplay-Bold.ttf");
  font-weight: bold;
}@font-face {
  font-family: "Playfair Display";
  src: font("PlayfairDisplay-Italic.ttf");
  font-style: italic;
}
@font-face {
  font-family: "Playfair Display";
  src: font("PlayfairDisplay-BoldItalic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Playfair Display";
  src: font("PlayfairDisplay-Medium.ttf");
  font-weight: 500;
}

html * {
  font-family: "Gotham", sans-serif;
}