@use "../abstracts" as *;

.home .visualizer-placeholder {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation-fill-mode: forwards;
  display: none;
}

.home .copy-image-gallery--room-visualizer {
  overflow: hidden;
}

.home .reviews-section .section-header {
  .section-header__name {
    order: -2;
  }

  .review-icons-wrapper {
    order: -1;
  }
}

.home .hero-section{
  padding-bottom: 0;
}

.home .samples-section .copy-image-box__column--copy{
  padding-top: 0;
}

.home .shop-assist-section{
  padding-bottom: 0;
}

@media screen and (min-width: 769px) {
  .home .samples-section {
    padding-bottom: calc(#{$desktop-section-gap} / 2);
  }

  .home .shop-assist-section{
    padding-bottom: calc(#{$desktop-section-gap} / 2);
  }

  .home .visualizer-section {
    padding-bottom: $desktop-section-gap;
    background-color: $background-light-tile;
  }

  .home .visualizer-placeholder{
    display: inline-block;
  }

  .home .reviews-section .section-header {
    .section-header__name,
    .review-icons-wrapper {
      order: 0;
    }

    .review-icons-wrapper {
      margin-bottom: 2.5rem;
    }
  }
}


//Animations
@keyframes main-image-fade {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 0;
  }
  100% {
    transform: translate(-35%, 0) scale(0);
    opacity: 0;
    visibility: hidden;
  }
}