@use "../abstracts" as *;

.shop-by-lifestyle .cta-banner{
  margin-top: $mobile-section-gap;
}

@media screen and (max-width: 768px){
  .shop-by-lifestyle .cta-banner__content{
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (min-width: 769px) {
  .shop-by-lifestyle .cta-banner{
    margin-top: $desktop-section-gap;
    margin-bottom: calc(#{$desktop-section-gap} / 2);
  }
}