@use "../abstracts" as *;

.plp .hero-category{
  padding-bottom: 0;
}

.plp .products{
  padding-top: 0;
}

.plp .separator-list__dropdown-menu{
  @include set-menu-border;
}

@media screen and (min-width: 769px){
  .plp .searchbar{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .plp .filter-section{
    padding-top: 1rem;
  }
}

