@use "variables" as *;
@use "sass:color";

@mixin secondary-font {
  font-family: "Playfair Display";
  font-style: italic;
}

@mixin highlighted{
  color: $primary-tile;
  font-weight: bold;
}

@mixin section-item-heading($min-font-size: 3rem, $max-font-size: 5rem, $range: 5vw) {
  font-size: $min-font-size;
  line-height: 1;
  margin-bottom: 1.5rem;

  @media screen and (min-width: 769px){
    font-size: clamp(#{$min-font-size, $range, $max-font-size});
    margin-bottom: 2.5rem;
  }
}

@mixin content-box{
  display: flex;
  flex-flow: column;
  text-align: center;
  letter-spacing: $standard-letter-spacing;
}

@mixin carousel-controls-styles($text-color, $background, $border:none, $y-offset: 50%) {
  top: $y-offset;
  color: $text-color;
  fill: $text-color;
  background-color: $background;
  border: $border;
}

@mixin carousel-control-margin($type: "prev", $margin: 0.5rem){
  @if $type == "prev" {
    left: $margin;
   }
  @if $type == "next" {
    right: $margin;
   }
}

@mixin carousel-card-flex-col{
  max-width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  color: $primary-white;
  height: 100%;
  text-align: center;
  justify-content: center;
}

@mixin disable ($is-link: false){
  @if(not $is-link){
    background-color: $background-disabled;
    border-color: $background-disabled-gray;
  }
  color: $background-disabled-gray;
  fill: $background-disabled-gray;
  pointer-events: none;
  cursor: default;
}

@mixin set-text-shadow($color: $primary-tile){
  text-shadow: 0 0 0.125rem $color;
}

@mixin set-box-shadow($shadow-color: $primary-black-dark, $position: "center") {
  @if($position == "right"){
    box-shadow: 4px 4px 4px 2px color.scale($color: $shadow-color, $alpha: -50%);
  } @else if($position == "left") {
    box-shadow: -4px 4px 4px 2px color.scale($color: $shadow-color, $alpha: -50%);
  } @else{
    box-shadow: 0 4px 4px 2px color.scale($color: $shadow-color, $alpha: -50%);
  }
}

@mixin set-menu-border($border-color: $background-light-tile){
  border: 1px solid color.scale($color: $border-color, $blackness: +20%);
}

@mixin dropdown-isolated-set-toggler($hover-state: false){
  color: var(--font-color, $primary-black);
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  column-gap: 1rem;
  position: relative;

  & i{
    transition: transform 0.3s ease-in-out;
  }

  $selectors: "&.show";

  @if($hover-state){
    $selectors: "&.show, &:hover, &:focus";
  }

  #{$selectors}{
    --font-color: #{$primary-tile};
    background-color: $background-light-tile;
    border: 1px solid $primary-tile;
  }

  @if (not $hover-state){
    &:hover, &:focus{
      color: var(--font-color, inherit);
    }
  }

  &.show i{
    transform: rotate(180deg);
  }

  &:after{
    content: none;
  }
}

@mixin dropdown-isolated-set-menu{
  --font-color: #{$primary-black};
  max-height: 0;
  overflow: hidden;
  padding: 0.5rem 0;
  opacity: 0;
  background-color: $background-light-tile;
  border: 1px solid transparent;
  border-radius: 0;
  position: absolute !important;
  width: max-content;
  max-width: max(100%, 18.75rem);
  min-width: max(100%, 10rem);


  &.show{
    max-height: initial;
    overflow: auto;
    opacity: 1;
  }

  &[data-bs-popper]{
    margin-top: 0;
  }
}

@mixin dropdown-isolated-set-item($hover-color: $primary-tile){
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
  width: 100%;
  color: var(--font-color, $primary-black);
  white-space: initial;
}