$base-font-size: 16;
$grid-breakpoints-xs: 0;
$grid-breakpoints-sm: 576px;
$grid-breakpoints-md: 768px;
$grid-breakpoints-lg: 992px;
$grid-breakpoints-xl: 1200px;
$grid-breakpoints-xxl: 1400px;

$primary-tile: #008C99;
$primary-tile-dark: #006069;
$primary-black: #222222;
$primary-black-dark: #000000;
$primary-white: #FFFFFF;

$secondary-green: #B2BB44;
$secondary-orange: #F3901D;
$secondary-red: #E21D1D;

$background-light-tile: #F2F9FA;
$background-disabled: #E5F1F2;
$background-disabled-gray: #AFC2C7;

$desktop-section-gap: 7.5rem;
$mobile-section-gap: 4.5rem;

//Tablet has a smaller height, but we need to assume worst case scenario
$mobile-header-height: 12.5rem;
$mobile-header-height-store: 20rem;
$desktop-header-height: 13.5rem;

$standard-body-font-size: 0.875rem;
$standard-body-line-height: 1.4;
$standard-letter-spacing: -0.02em;